[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/redshift
Restart=always
RestartSec=5s

[Install]
WantedBy=graphical-session.target
